:ruby
  # TODO merge with _edit_multiple_without_form ??

  meta_data = resource.meta_data.for_context(context)
  
  labels = {}
  last_label = nil
  meta_data.each do |md|
  	label = md.meta_key.label
  	current_head_label = label.split.first
  	last_head_label = (last_label ? last_label.split.first : nil)
  	if current_head_label == last_head_label
  		labels[last_label] << label
  	else
  		last_label = label
  		labels[last_label] = []
  	end 
  end
  labels.delete_if {|k, v| v.size < 2 }

- meta_data.each_with_index do |md, i|
  - # next if md.meta_key.is_dynamic?
  - field_name = "resources[#{resource.class.name.underscore}][#{resource.id}][meta_data_attributes][#{i}]"
  = fields_for field_name, md do |meta_datum|
    :ruby
      definition = context.meta_definitions.where(:meta_key_id => meta_datum.object._id).first
      label = md.meta_key.label
      underscored_label = label.gsub(/\W+/, '_')
      parent_underscored_label = labels.detect {|x| x.last.include?(label) }.try(:first).try(:gsub, /\W+/, '_')
      is_parent = (!parent_underscored_label and labels.has_key?(label))
      classes = [meta_datum.object.meta_key.object_type]
      classes << "parent" if is_parent
      classes.compact!

    %ul{:"data-meta_key" => underscored_label, :"data-parent_meta_key" => parent_underscored_label, :class => (classes.blank? ? nil : classes.join(' '))}
      %li.label{:style => "width: 24%;"}
        = definition.label
        = "*" if definition.is_required
        - if definition.hint
          %span.hint
            = definition.hint
        - if is_parent
          .expander
            = link_to _("+ Weitere Angaben"), "#"
      %li{:style => "width: 62%;"}
        = meta_datum.hidden_field :id if meta_datum.object.id
        = field_tag(meta_datum, context, false, with_actions)
        - if false # TODO see meta_data_helper
          %span.with_actions
            = link_to _("Übertragen auf andere Medien"), "#", :class => "buttons"
      %li{:style => "width: 5%;"}
        = description_toggler(definition)
      .clear
