= form_for @definition, :url => path do |f|
	%table
		%tr
			%th
				Meta::Key
			- keys = Meta::Key.order_by(:label)
			- keys -= (@context.meta_keys - [@definition.meta_key])
			%td{:colspan => 2}
				= f.select :meta_key_id, keys.collect {|k| [ k.label, k.id ] }, { :include_blank => true }

		- unless @context.is_user_interface?
			%tr
				%th= f.label :key_map
				%td{:colspan => 2}
					= f.text_field :key_map
			%tr
				%th= f.label :key_map_type
				%td{:colspan => 2}
					= f.text_field :key_map_type
		%tr
			%th
				Field
			%td{:colspan => 2}
				- [:is_required, :length_min, :length_max].each do |k|
					= "#{k}: #{@definition.try(k)}"
					%br
		%tr
			%td
			- LANGUAGES.each do |lang|
				%th= lang.to_s
		%tr
			%th
				Label
			- LANGUAGES.each do |lang|
				%td
					- value = @definition.label.try(:to_s, lang)
					= text_field_tag "meta_definition[label][#{lang}]", value
		%tr
			%th
				Description
			- LANGUAGES.each do |lang|
				%td
					- value = @definition.description.try(:to_s, lang)
					= text_area_tag "meta_definition[description][#{lang}]", value
		%tr
			%th
				Hint
			- LANGUAGES.each do |lang|
				%td
					- value = @definition.hint.try(:to_s, lang)
					= text_field_tag "meta_definition[hint][#{lang}]", value
		%tr
			%td{:colspan => 3}
				= f.submit submit
