:css
  .madek_multiselect_container ul.holder li {
    white-space: normal;
  }
  .ui-autocomplete { 
      width: 10px;
  }


%section#content_head
  .container_12.clearfix
    #page_head_edit
      %div.page_title_left
        %img{:src => "/assets/icons/icon_edit.png"}
        =_("Metadaten editieren")
      .clear
      .task_bar.clearfix
        %ul
          %li
            %h4= "#{@media_entries.size} Medieneinträge ausgewählt"
          %li= link_to _("Tabellenansicht"), "#", :id => "toggle"
        #selected_items_edit
          #list_as_thumbnails
    
          #list_as_list
            %table
              %thead
                %tr
                  %td
                    &nbsp;
                  %td
                    Titel und Autor/in:
                  %td
                    Datierung:
                  %td
                    Schlagworte:
                  %td
                    Rechte:
                  %td{:colspan => "2"}
                    Hochgeladen von und am:
              %tbody
              
.container_12.clearfix              
  %section#content_body_fixed
    .grid_9.alpha
      = form_tag update_multiple_resources_path, :method => :put do
        = hidden_field_tag 'media_entry_ids', @media_entries.map(&:id).join(',')
        :ruby
          meta_contexts = Meta::Context.default_contexts
          common_individual_contexts = @media_entries.map(&:individual_contexts).inject(&:&) # individual contexts common to all
          meta_contexts = (meta_contexts + common_individual_contexts).flatten
          r = Media::Entry.compare_meta_data(@media_entries)
          resource = instantiate_builder("resource", r, {})

        - content_for :buttons do
          %div{:class => "save_buttons"}
            = link_to _("Abbrechen"), :back, :class => "buttons"
            = submit_tag _("Speichern")
 
        %div#detail_specification.tabs
          %ul
            - meta_contexts.each do |meta_context|
              %li= link_to meta_context, "##{meta_context.name}" 
          - meta_contexts.each do |meta_context|
            = render :partial => "edit_meta_data", :locals => { :resource => resource, :context => meta_context }

        = yield :buttons
    .grid_3.omega
      #legend
        %h3 Legende
        %p{:style => "background: white; height: 30px ; border: 1px solid #ccc;"} 
        %p.info Noch keine Metadaten vorhanden.
        %br
        %p{:style => "background: red url(/assets/stripe_1.png); height: 30px ; border: 1px solid #ccc;"} 
        %p.info Unterschiedliche Metadaten vorhanden. Achtung: Bestehende Werte werden durch Änderungen überschrieben! Wenn keine Änderungen vorgenommen werden, bleiben die verschiedenen Werte erhalten.
        %br
        %p{:style => "background: white; height: 30px ; border: 1px solid #ccc; padding: 4px;"} 
          %span.wert Text
        %p.info Gleiche Metadaten vorhanden.
    .clear


%script#thumbnail_view{:type => "text/x-jquery-tmpl"}
  .thumb_box
    %a{:href => "/resources/${id}"}
      %img{:src => "${thumb_base64}"}

%script#list_view{:type => "text/x-jquery-tmpl"}
  %tr
    %td
      .thumb_mini
        %a{:href => "/resources/${id}"}
          %img{:src => "${thumb_base64}"}
    %td
      ${title}
      %br
      ${author}
    %td
      ${portrayed_object_dates}
    %td
      ${keywords}
    %td
      ${copyright_notice}
    %td
      ${uploaded_by}
    %td
      ${uploaded_at}

:javascript
  $(document).ready(function () { 
    var data = #{@info_to_json};
    showListAsThumbnails();
    
    // by default
    $("input.keep").parents("li").addClass("different_values");
    
    $('a#toggle').click(function() {
      if($("#list_as_thumbnails").is(":visible")) {
        showListAsList();
      } else {
        showListAsThumbnails();
      };
    });
    
    function showListAsThumbnails() {
      $("#list_as_list").hide();
      $("#list_as_thumbnails").show();
      $("#list_as_thumbnails").html($("#thumbnail_view").tmpl(data));
      $("#toggle").html("Tabellenansicht");
    };
    
    function showListAsList() {
      $("#list_as_thumbnails").hide();
      $("#list_as_list").show();
      $("#list_as_list table tbody").html($("#list_view").tmpl(data));
      $("#toggle").html("Medienansicht");
    };
  });