-# OPTIMIZE merge content_body_result css to content_body
%section{:id => params[:query].blank? ? "content_body" : "content_body_result"}
  
  - unless params[:query].blank?
    .page_title_left
      =_("Suchergebnisse")
      #term
        = "für “#{params[:query]}”"
    .clear
    - unless @_resource_ids.blank?
      .filter_area
        = render :partial => 'filter_form', :locals => {:resource_ids => @_resource_ids, :type => "Media::Resource" }

  =#working here# render :partial => "templates"
  = render :partial => "batch_bar"
  #results

:javascript
  $(document).ready(function () {
    //#working here# display_results(#{@results.to_json});
    setupBatch(#{@results.to_json});
  });
